$main-street-color: #730217;
$adventureland-color: #D15530;
$frontierland-color: #A37849;
$liberty-square-color: #2594D9;
$fantasyland-color: #E73C81;
$tomorrowland-color: #3E4D8C;
$cind-castle-color: #F2CF53;
